@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-display: var(--font-dancing-script);
}

:root {
  --background: #fff0f5; /* Lavender Blush */
  --foreground: #881337; /* Rose 900 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
